<div id="carouselFeatures" class="carousel carousel-fade mt-5 pb-5" data-ride="carousel" data-pause="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselFeatures" data-slide-to="0" class="active"></li>
      <li data-target="#carouselFeatures" data-slide-to="1"></li>
      <li data-target="#carouselFeatures" data-slide-to="2"></li>
      <li data-target="#carouselFeatures" data-slide-to="3"></li>
      <li data-target="#carouselFeatures" data-slide-to="4"></li>
      <li data-target="#carouselFeatures" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
      <!-- Augmented Navigation -->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-12 col-lg-8 text-center">
            <video autoplay loop muted playsinline class="img-fluid">
              <source src="/assets/videos/ar-nav.mp4" type="video/mp4" />
            </video>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content feature-svg">
                  {% include svg/navigation.svg %}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content editable text-uppercase text-alt">
                  <small>带有转向指示的增强现实导航能力。</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sign Classification -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-12 col-lg-8 text-center">
            <video autoplay loop muted playsinline class="img-fluid">
              <source src="/assets/videos/sign.mp4" type="video/mp4" />
            </video>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content feature-svg">
                  {% include svg/signclassification.svg %}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content editable text-uppercase text-alt">
                  <small>基于端的计算能力：基于终端运行和处理机器学习。</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Object Identification -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-12 col-lg-8 text-center">
            <video autoplay loop muted playsinline class="img-fluid">
              <source src="/assets/videos/object.mp4" type="video/mp4" />
            </video>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content feature-svg">
                  {% include svg/objectidentification.svg %}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content editable text-uppercase text-alt">
                  <small>跨平台跨终端能力：同时支持移动设备、仪表盘和车载摄像系统。</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Semantic Segmentation -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-12 col-lg-8 text-center">
            <video autoplay loop muted playsinline class="img-fluid">
              <source src="/assets/videos/segmentation.mp4" type="video/mp4" />
            </video>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content feature-svg">
                  {% include svg/segment.svg %}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content editable text-uppercase text-alt">
                  <small>路况全面覆盖的探测分割识别能力：<br />- 路况中 12 大类型：普通道路和彩绘道路（例如人行横道），车道边界（车道总数和行驶方向），交通灯，交通标志，车辆，骑行者，行人，建筑物，植被，天空，安全驾驶距离等。</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  

    </div>
  </div>
