<div id="carouselFeatures" class="carousel carousel-fade mt-5 pb-5" data-ride="carousel" data-pause="false">
    <ol class="carousel-indicators">
      <li data-target="#carouselFeatures" data-slide-to="0" class="active"></li>
      <li data-target="#carouselFeatures" data-slide-to="1"></li>
      <li data-target="#carouselFeatures" data-slide-to="2"></li>
      <li data-target="#carouselFeatures" data-slide-to="3"></li>
      <li data-target="#carouselFeatures" data-slide-to="4"></li>
      <li data-target="#carouselFeatures" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
      <!-- Augmented Navigation -->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-12 col-lg-8 text-center">
            <video autoplay loop muted playsinline class="img-fluid">
              <source src="/assets/videos/ar-nav.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content feature-svg">
                  {% include svg/navigation.svg %}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content editable text-uppercase text-alt">
                  <small>Augmented reality navigation with turn-by-turn directions.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sign Classification -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-12 col-lg-8 text-center">
            <video autoplay loop muted playsinline class="img-fluid">
              <source src="/assets/videos/sign.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content feature-svg">
                  {% include svg/signclassification.svg %}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content editable text-uppercase text-alt">
                  <small>Classification and display of regulatory and warning signs.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Object Identification -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-12 col-lg-8 text-center">
            <video autoplay loop muted playsinline class="img-fluid">
              <source src="/assets/videos/object.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content feature-svg">
                  {% include svg/objectidentification.svg %}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content editable text-uppercase text-alt">
                  <small>Object detection for vehicles, pedestrians, road signs, and traffic lights.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Semantic Segmentation -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-12 col-lg-8 text-center">
            <video autoplay loop muted playsinline class="img-fluid">
              <source src="/assets/videos/segmentation.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content feature-svg">
                  {% include svg/segment.svg %}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content editable text-uppercase text-alt">
                  <small>Semantic segmentation of the roadway into 12 different classes.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Distance Detection -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-12 col-lg-8 text-center">
            <video autoplay loop muted playsinline class="img-fluid">
              <source src="/assets/videos/distance.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content feature-svg">
                  {% include svg/distance.svg %}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content editable text-uppercase text-alt">
                  <small>Distance detection that indicates spacing to lead vehicle.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Lane level guidance -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-12 col-lg-8 text-center">
            <video autoplay loop muted playsinline class="img-fluid">
              <source src="/assets/videos/lane.mp4" type="video/mp4">
            </video>
          </div>
          <div class="col-12 col-lg-4">
            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content feature-svg">
                  {% include svg/lane-detection.svg %}
                </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <div class="content editable text-uppercase text-alt">
                  <small>Lane-level guidance that clearly displays the next move</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>