<footer id="page-footer" class="bg-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <p class="text-center editable"><small class="text-muted"><em>*During the beta, the Mapbox Vision SDK will provide us with limited front facing camera imagery to help us improve our products and services, not to exceed 30 MB per hour.</em></small></p>
      </div>
    </div>
  </div>
  <div id="footernav">
    <div class="navbar-brand"></div>
  </div>
</footer>