#page-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  @include media-breakpoint-down(md) {
    position: relative;
    background-color: $dark;
  }
}

