---
layout: default
---

<section id="intro-contest" class="bg-dark text-white aspect-intro" style="background-image: url(/assets/img/bg-hero.jpg)">
  <div class="container">
    <div class="row align-items-end h-100 justify-content-center">
      <div class="col-12 col-md-5 text-center">
        <img id="vision-logo" class="img-fluid my-3 my-md-0" src="/assets/img/logo.svg" alt="The Mapbox Vision SDK" />
      </div>
      <div class="col-12 col-md-7">
        <img src="/assets/img/phone-asset@2x.png" class="img-fluid" alt="Phone Image">
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
<section class="bg-white pt-0">
  <div class="container">
    <div class="row justify-content-center line line-left active py-5">
      <div class="col-12 col-md-10">
        <h1>Join the Vision Developer contest!</h1>
        <p class="h3 my-5">Build an awesome app with the Mapbox Vision SDK, and enter for a chance to win an all-expense-paid trip to a end AWS
        Re:Invent 2018. Plus, receive free AWS credits to help you begin building!</p>
        <p class="lead">We’re looking for the most innovative app to help drivers, consumers, or businesses explore their world and connect
        with people around them. Using the Mapbox Vision SDK, we want to see how you utilize real-time navigation, computer
        vision, augmented reality and live mapping capabilities to build an app that creates new value for people on the road.</p>
      </div>
    </div>
    <div class="row justify-content-center line line-left line-cta active">
      <div class="col-12 col-md-10">
        <a href="#register" class="btn btn-dark btn-block">Register for the Vision Developer Contest</a>
      </div>
    </div>
    <div class="row justify-content-center align-items-center py-5">
      <div class="col-12 col-md-2">
        <!-- <p>In partnership with</p> -->
        <img src="/assets/img/aws-logo-asset.png" class="img-fluid" alt="aws logo">
      </div>
      <div class="col-12 col-md-8">
        <p class="mb-0 lead">We’re excited to partner with AWS on this contest. The first 250 eligible contest participants to register will receive
        $100 worth of free AWS credits to help you get started, and one developer will win an all-expense-paid trip to attend
        AWS Re:Invent this November (11/25/18 - 11/30/18).</p>
      </div>
    </div>
    <div class="row justify-content-center py-5">
      <div class="col-12 col-md-10">
        <img src="/assets/img/aws-image-asset.jpg" class="img-fluid" alt="aws re:invent image">
      </div>
    </div>
  </div>
</section>
<section id="ideas" class="bg-dark text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <h4 class="mb-3">Here are some ideas to help you get started:</h4>
        <ul>
          <li>Create an augmented reality navigation experience that helps on-demand drivers easily find their pickup and drop-off
          targets.</li>
          <li>Build a “smart city” map that helps local governments better monitor and manage road and traffic conditions to improve
          the flow in cities.</li>
          <li>Create an AR videogame for passengers that brings characters to life right on the landscape outside the car window.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="contest-details" class="bg-white text-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10">
        <h2 class="h1">Contest Details</h2>
        <p><a href="#">Full contest rules here</a></p>
        <ol>
          <li>Register for the contest above. You’ll receive instructions via email to download Mapbox’s Vision SDK and to access
          your free AWS storage credits.</li>
          <li>Build an app that offers a unique take on computer vision, location-based augmented reality or navigation. We’ll be
          looking for the most innovative app the integrates Vision SDK most successfully to provide new value to people in the
          car and on the road.</li>
          <li>Submit your app to Testflight or Google Play and email the link to vision@mapbox.com no later than <strong>November 16th, 2018
          by 8pm PT</strong>. Include a description in your email that answers the following questions:
            <ul>
              <li>What does your app do? What value does it provide?</li>
              <li>Who is the primary audience for your app and why will they be excited
              about it?</li>
              <li>How have you incorporated Vision SDK into the app?</li>
            </ul>
          </li>
        </ol>
        <p>One winning developer will receive an all-expense-paid trip to attend AWS Re:Invent from November 25th, 2018 - November
        30th, 2018, including round-trip airfare, 5 nights at a hotel in Las Vegas and a free ticket to attend the conference.
        The winner will be notified on November 19th and will have to accept their prize no later than November 21st, 2018.</p>
        <h4>Submission Requirements:</h4>
        <ul>
          <li>The app must integrate Mapbox’s Vision SDK.</li>
          <li>The app must be submi ed via Testflight or Google Play for the judges to evaluate it.</li>
          <li>Contest is open for U.S. Residents only.</li>
        </ul>
        <a href="#register" class="btn btn-dark my-5 btn-block">Register for the Vision Developer Contest</a>
        <p class="h1 text-center">We can't wait to see what you build!</p>
      </div>
    </div>
  </div>
</section>
<section id="register" class="bg-dark text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center">
        <h2 class="text-mega mb-3">Register for the<br>Vision Developer Contest</h2>
        <p class="text-alt text-uppercase"><small>In Partnership with AWS</small></p>
        <script src="//app-ab22.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_76"></form>
        <script>MktoForms2.loadForm("//app-ab22.marketo.com", "117-NXK-490", 76, function(form){
          form.onSuccess(function () {
            analytics.track('Vision_Contest_Reg');
          });
        });</script>
      </div>
    </div>
  </div>
</section>