---
layout: default
---

<section id="intro-contest" class="bg-dark text-white aspect-intro" style="background-image: url(/assets/img/bg-hero.jpg)">
  <div class="container">
    <div class="row align-items-end h-100 justify-content-center">
      <div class="col-12 col-md-5 text-center">
        <img id="vision-logo" class="img-fluid my-3 my-md-0" src="/assets/img/logo.svg" alt="The Mapbox Vision SDK" />
      </div>
      <div class="col-12 col-md-7">
        <img src="/assets/img/phone-asset@2x.png" class="img-fluid" alt="Phone Image">
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
<section class="bg-white pt-0">
  <div class="container">
    <div class="row justify-content-center active py-5">
      <div class="col-12 col-md-11">
        <h1 class="mt-md-5">The Vision Developer Contest is now closed.</h1>
        <p class="h3 my-5">We are now reviewing the submissions and will notify the winning developer by 8pm PT on Monday, Nov. 19th.</p>
        <p class="lead">Even if you missed this contest, you can still <a href="https://vision.mapbox.com/#application">request access to the Vision SDK</a> and begin building with it.</p>
        <hr>
        <p><em>Note: The winner must accept the prize no later than 3pm PT on Wendesday, Nov. 21st, otherwise they forfeit their prize, and the prize will pass to the runner up. For more details, see the <a href="/assets/img/Vision-AWS-Contest-Rules-10-23.pdf" target="_blank">Full Contest Rules</a> here.</em></p>
      </div>
    </div>
  </div>
</section>