---
layout: default
---

<section id="intro" class="bg-dark text-white bg-video aspect-intro">
  <video playsinline autoplay muted loop class="video-background">
    <source src="https://player.vimeo.com/external/295684537.hd.mp4?s=70b37ad67ea13c59065a4c031320ec502624cdec&profile_id=174" />
    <source src="https://player.vimeo.com/external/295684537.sd.mp4?s=5b55ad176024b99ac3dd6d2a4558ad456a828666&profile_id=165" />
    <source src="https://player.vimeo.com/external/295684537.sd.mp4?s=5b55ad176024b99ac3dd6d2a4558ad456a828666&profile_id=164" type="video/mp4" media="(min-device-pixel-ratio:2), (-webkit-min-device-pixel-ratio:2), (min--moz-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2)" />
    <source src="https://player.vimeo.com/external/295684537.m3u8?s=11a5b3a33f5c0e6fc0e637f6ce3f5241f9c9460f" type="video/mp4" media="(max-device-pixel-ratio:1), (-webkit-max-device-pixel-ratio:1), (max--moz-device-pixel-ratio:1), (-o-max-device-pixel-ratio:1)" />
  </video>
  <div class="video-caption">
    <div class="container">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 line line-right h-100"></div>
        <div class="col-12 col-md-6">
          <img id="vision-logo" class="img-fluid" src="/assets/img/logo.svg" alt="The Mapbox Vision SDK" />
        </div>
      </div>
    </div>
    
  </div>
  <div class="overlay"></div>
</section>

<section class="d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="p-3 text-center">
          <img class="img-fluid" src="/assets/img/logo.svg" alt="The Mapbox Vision SDK" style="max-width: 220px;" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-6"><hr class="line split" /></div>
    </div>
    <div id="message" class="row justify-content-center line line-left line-cta">
      <div class="col-12 col-md-10">
        <div class="editable">
          <h1>The Mapbox Vision SDK<br />提前驶向未来。</h1>
          <p class="lead my-5">未来出行，我们需要适合于机器和人的地图。动态地图、智能导航、增强现实、高性能计算机视觉技术将会变革人机与道路交互的方式。Mapbox Vision SDK 集革命性技术于一体，实时处理环境场景，把普通的车载摄像头变成洞察万物的“眼睛“，目之所及即是交互。</p>
          <p class="text-muted">注：Mapbox Vision SDK 可与 Mapbox 优秀的实时交通与导航功能无缝衔接，Android 和 iOS 开发者能够在自己的原生 App 中轻松加入车辆抬头显示体验。在这里了解详细文档:&nbsp;<a target="_blank" href="https://www.mapbox.com/ios-sdk/vision/overview/">iOS</a> | <a target="_blank" href="https://www.mapbox.com/android-docs/vision/">Android</a>&nbsp;</p>
        </div>
        <p class="mt-5 mb-0"><a href="#application" class="btn btn-outline-secondary">Request access to the beta</a></p>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white pb-0">
  <div class="container">
    <div id="features" class="row justify-content-center line line-half right-bottom">
      <div class="col-12 col-md-10">
        <div class="lead my-5 editable">
          <p>Mapbox Vision SDK 解锁了一套具有未来感的功能 —— 包括增强现实导航、物体检测、语义分割。在它的帮助下，普通的智能手机也能化身功能强大的车载智能传感器。</p>
        </div>
        {% include feature-carousel.html %}
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="container">
    <hr class="line split" />
    <div id="testimonials" class="row justify-content-center line line-left">
      <div class="col-12">
        <h3 class="mt-5 p-5 text-center editable">
          Companies that have stepped into the driver&rsquo;s seat:
        </h3>
        <div class="p-5">
          <div class="row align-items-start mb-3 pb-3 border-bottom">
            <div class="col-12 col-lg-3">
              <div class="pb-5 px-5 pt-2">
                <img src="/assets/img/logos/microsoftazure.svg" alt="" class="img-fluid editable" />
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <p>Azure IoT Hub 与 Mapbox Vision SDK 协同工作，对终端数据进行智能解译与处理。前所未有的现场道路数据访问，为我们汽车行业的开发人员与客户带来了令人兴奋的可能性。</p>
              <p class="text-muted"><em>– Tara Prakriya，合作伙伴项目经理，Azure IoT Connected Vehicles and Azure Maps, Microsoft</em></p>
            </div>
          </div>
          <div class="row align-items-start mb-3 pb-3 border-bottom">
            <div class="col-12 col-lg-3">
              <div class="pb-5 px-5 pt-2">
                <img src="/assets/img/logos/nexar.png" alt="" class="img-fluid editable" />
              </div>
            </div>
            <div class="col-12 col-lg-8">
                <p>Mapbox Vision SDK 帮助 Nexar 应用将增强现实结合了抬头显示、逐向导航，提高了驾驶安全与效率，对客户来说无疑是福音。</p>
                <p class="text-muted"><em>- Eran Shir, CEO, Nexar</em></p>  
            </div>
          </div>
          <div class="row align-items-start mb-3 pb-3">
            <div class="col-12 col-lg-3">
              <div class="pb-5 px-5 pt-2">
                <img src="/assets/img/logos/elecktrobit.png" alt="" class="img-fluid editable" />
              </div>
            </div>
            <div class="col-12 col-lg-8">
              <p>我们很高兴能够通过我们的 HMI 工具链中的信息娱乐系统、EB GUIDE 与自动驾驶 HAD 功能，和Mapbox Vision SDK 相结合，一起探索各种可能的机会。</p>
              <p class="text-muted"><em>– Walter Sullivan, 创新与孵化负责人, Elektrobit</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="line split flip" />
    <div id="feedback-loop" class="row justify-content-center line line-right">
      <div class="col-12 col-md-10">
        <div class="editable mt-5">
          <p>Mapbox Vison SDK将提供前所未有的实时道路数据，并接入Mapbox的实时定位平台。图像可以直接在用户设备上处理，因此当前的道路状况和实时事件数据能够低延迟，低带宽的环境下进行实时更新。在设备上运行高效的人工智能算法 - 无需再上传到云服务器中进行二次处理。Mapbox Vision SDK功能强大，能够反馈实时驾驶环境，同时兼容性强大，可在数十亿不同移动设备上运行。</p>
        </div>
        <div class="py-4">
          {% include glamour-carousel.html %}
        </div>
      </div>
    </div>
    <hr class="line split" />
    <div id="device-support" class="row justify-content-center line line-left line-cta">
      <div class="col-12 col-md-10">
        <div class="row align-items-center my-5">
          <div class="col-12 col-md-4 text-center">
            <img class="img-fluid w-50 mx-auto" src="/assets/img/logos/ios.svg" alt="iOS" style="max-width: 150px;" />
          </div>
          <div class="col-12 col-md-4 text-center">
              <img class="img-fluid w-50 mx-auto" src="/assets/img/logos/android.svg" alt="Android" style="max-width: 150px;" />
          </div>
          <div class="col-12 col-md-4 text-center">
              <img class="img-fluid w-50 mx-auto" src="/assets/img/logos/linux.svg" alt="Linux" style="max-width: 150px;" />
          </div>
        </div>
        <div class="editable">
          <p>Mapbox Vision SDK 目前支持 iOS、Android 和 Linux 平台。</p>
          <p>详情可以了解下方开发文档:&nbsp;</p>
          <ul>
            <li><a data-cms-editor-link-style="undefined" href="https://www.mapbox.com/ios-sdk/vision/overview/">Mapbox Vision</a>&nbsp;for iOS</li>
            <li><a data-cms-editor-link-style="undefined" href="https://www.mapbox.com/ios-sdk/vision-ar/overview/">Mapbox Vision AR</a>&nbsp;for iOS</li>
            <li><a data-cms-editor-link-style="undefined" href="https://www.mapbox.com/android-docs/vision/"> Mapbox Vision</a> for Android</li>
            <li><a data-cms-editor-link-style="undefined" href="https://www.mapbox.com/android-docs/vision-ar/"> Mapbox Vision AR</a> for Android</li>
          </ul>
          <p>现在 Mapbox Vision SDK beta 版已经在接受相关开发者的免费申请试用！</p>
        </div>
        <p class="mt-5 mb-0"><a href="#application" class="btn btn-outline-secondary">Request beta access today!</a></p>
      </div>
    </div>
  </div>
</section>

<section id="application" class="bg-dark text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="content text-center editable mb-4">
          <h2 class="text-mega mb-3">What’s your Vision?</h2>
          <p class="text-alt text-uppercase"><small>Apply To Join The Beta Version Of Vision SDK.<br />Seats Are Limited</small></p>    
        </div>
        <script src="https://go.mapbox.com/js/forms2/js/forms2.min.js"></script>
          <form id="mktoForm_76"></form>
        <script>MktoForms2.loadForm("https://go.mapbox.com/", "117-NXK-490", 76, function (form) {
            form.onSuccess(function () {
              analytics.track('Vision_SDK_request');
            });
          });</script>
      </div>
    </div>
  </div>
</section>
