.mktoForm {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
  width: 100% !important;
  .mktoFormRow {
    .mktoFormCol {
      float: none;
    }
    .mktoFieldWrap {
      display: block;
      width: 100%;
      float: none;
      label {
        margin-bottom: 10px;
        width: 100% !important;
      }
      input[type="text"],
      input[type="email"],
      textarea,
      select {
        display: block;
        width: 100% !important;
        height: auto;
        appearance: none;
        padding: 14px;
        border-radius: 0;
        border: 1px solid $white;
        background-color: $dark;
        box-shadow: 0 0 3px 0 rgba($black, 0.4);
        @include transition();
      }    
    }
  }
  button.mktoButton {
    display: block;
    float: none;
    width: 100% !important;
    margin: 0 auto;
    height: auto;
    padding: 8px 0;
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
  }
}

select {
  position: relative;
  cursor: pointer;

  &:after {
    content: "\e917";
    display: block;
    position: absolute;
    right: 15px;
    top: 22px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 9px;
    color: $dark;
    transform: rotate(180deg);
    @include transition();
    pointer-events: none;
  }
}